body {
    background-image: url("../imagens/fundo-imagem.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}

.fundo-container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border-radius: 10px;
}

.titulo-principal {
    text-align: center;
    margin-bottom: 30px;
    color: #fff;
}

.lista-livros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6%;
    margin: 0 0 10%;
}

.livro {
    background: rgb(0 0 0 / 74%);
    border: 2px solid #333;
    border-radius: 12px;
    box-shadow: 0 4px 10px #d500ff;
    padding: 12px;
    font-size: 10px;
    text-align: center;
    color: #02080a;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 180px;
}

.livro:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.livro-capa {
    width: 100%;
    height: auto;
    max-height: 240px;
    object-fit: contain;
    border-radius: 8px;
}

.livro-titulo {
    font-size: 17px;
    margin-top: 10px;
    color: lemonchiffon;
    font-weight: normal;
}

.botao-ultimos {
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 20px;
    border-radius: 0%;
    font-size: 24px;
    font-weight: bold;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 50%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
}
